*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav,li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.backgroundC{
  background:#f5115d;
  height: 100vh;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.textview {
  width: 219px;
  margin: 4px;
  font-size: 25px;
  padding: 5px;
  border-radius: 0;
  border: 0;
}
.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  background-color: #2a99bb;
  color: #ffffff;
  border: 0;
}